@import "tailwindcss";


html,
body {
  height: 100%;
}

body {
  background-color: #ffffff;
  color: #111827; /* slate-900 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}



* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus {
  outline: none;
}

button {
  cursor: pointer;
}

input,
select,
textarea {
  font-size: 16px;
}